section.about-section
  .wrapper
    .about-section__inner
      .about-section__decor.about-section__decor--1
        img(src="images/about-decor-1.svg" loading="lazy" alt="image" width="268" height="126").d-block
      .about-section__decor.about-section__decor--2
        img(src="images/about-decor-2.svg" loading="lazy" alt="image" width="268" height="72").d-block
      .about-section__decor.about-section__decor--3
        img(src="images/about-decor-3.svg" loading="lazy" alt="image" width="268" height="72").d-block
      .about-section__decor.about-section__decor--4
        img(src="images/about-decor-4.svg" loading="lazy" alt="image" width="268" height="124").d-block

      .about-section__content
        .about-section__container
          h2.about-section__title.font-s-30 Мы провели более 
            span.color-pink-1 15 000 
            br
            |мероприятий и готовы 
            br
            |поделиться своим опытом
          .about-section__image
            img(src="images/about-image.jpg" loading="lazy" alt="image" width="464" height="384").d-block

        .about-section__info.font-s-20
          ul
            li 5 лет мы занимаемся проведением праздников, 
              br
              |за нашими плечами более 15 000 мероприятий 
              br
              |и колоссальный опыт, которым мы рады будем поделиться с вами
            li Мы проводим игры в формате любимых ТВ-шоу и передач на YouTubе. 
              |В нашем арсенале музыкальные, комедийные, танцевальные и другие игры
            li География нашей франшизы расширяется, и 
              br
              |на сегодняшний день мы охватываем четыре крупных города: Омск, Томск, Екатеринбург и Калининград
            li Наши франчайзи получают неограниченный доступ к нашей уникальной базе знаний, 
              |с которой вы потратите в разы меньше времени на старт и раскрутку вашего бизнеса
            li Нашими постоянными заказчиками являются Лукойл, Газпром, Ростелеком, 
              |Ноme credit bank, СТС, Дом.ру, МТС, Банк России, Совкомбанк и многие другие
