section.causes-section
  .wrapper
    .causes-section__inner
      .causes-section__decor
        img(src="images/causes-decor.svg" loading="lazy" alt="image" width="486" height="184").d-block

      .causes-section__content
        h2.causes-section__title.font-s-30 4 причины открыть свое 
          br
          |развлекательное пространство

        .causes-section__info.font-s-20
          .causes-section__info-list
            .causes-section__info-item
              .causes-section__info-title.font-f-demi.font-s-26.text-up Доступность
              .causes-section__info-description Чтобы организовать ваш собственный бизнес и начать зарабатывать, 
                |вам понадобится менее 1 млн рублей
            .causes-section__info-item
              .causes-section__info-title.font-f-demi.font-s-26.text-up Безопасность
              .causes-section__info-description Event-бизнес имеет одни 
                br
                |из самых низких показателей текущих финансовых рисков 
                br
                |и издержек
            .causes-section__info-item
              .causes-section__info-title.font-f-demi.font-s-26.text-up Спрос
              .causes-section__info-description Чтобы не произошло в мире, как бы туго не было, 
                |люди никогда не перестанут развлекаться, поэтому вы никогда не останетесь без прибыли
            .causes-section__info-item
              .causes-section__info-title.font-f-demi.font-s-26.text-up Самореализация
              .causes-section__info-description Ваше развлекательное пространство - это не только 
                |инструмент для зарабатывания денег, но и площадка для вашей творческой и деловой реализации

      .causes-section__feedback
        .feedback
          form(data-feedback-form).feedback__form
            .feedback__container
              .feedback__title.font-s-20 Узнайте о других преимуществах 
                br
                |бизнеса по франшизе ТЕОРИЯ ОТРЫВА
              .feedback__description Скачайте подробную презентацию
            .feedback__list
              .feedback__item
                .input
                  input(type="text" name="name" autocomplete="off" placeholder="Имя:").input__field
              .feedback__item
                .input
                  input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон:").input__field
              .feedback__item
                button.btn(type="submit")
                  span Скачать презентацию
            input(type="text" name="honeyfield" class="honeypot" style="display:none")
