mixin footer()
  footer.footer
    .wrapper
      .footer__row

        .footer__col
          .footer__logo
            img(src="images/logo-main.svg" loading="lazy" alt="logo" width="172" height="75").d-block
        .footer__col
          .footer__description Франшиза сети 
            br
            |развлекательных пространств

        .footer__col
          a(href="#" data-remodal-target="privacy").footer__privacy Политика конфиденциальности

        .footer__col
          .footer__connection
            +connection()
