mixin footer()
  footer.footer
    .wrapper
      .footer__row

        .footer__col
          .footer__container
            .footer__logo
              img(src="images/logo-secondary.svg" loading="lazy" alt="logo" width="174" height="51").d-block
            .footer__info
              .footer__description Франшиза бизнеса по продаже 
                br
                |экзотических фруктов и подарочных боксов
        .footer__col
          a(href="#" data-remodal-target="privacy").footer__privacy Политика 
            br
            |конфиденциальности

        .footer__col
          .footer__connection
            +connection()
