mixin header()
  header.header
    .wrapper
      .header__inner
        .header__logo
          img(src="images/logo-main.svg" loading="lazy" alt="logo" width="172" height="75").d-block

        .header__logo-description.text-center Франшиза сети 
          br
          |развлекательных пространств 

        .header__connection
          +connection()
