section.main-section
  .main-section__bg
    .main-section__image
      img(src="images/main-image.png" loading="lazy" alt="image" width="847" height="800").d-block

  .wrapper
    .main-section__inner
      .main-section__content
        h1.main-section__title.font-s-36.font-f-bold Откройте свое развлекательное 
          br
          |пространство с минимальными 
          br
          |инвестициями и прибылью 
          br
          |от 
          span.color-pink-1 1,1 млн рублей 
          |в год

        .main-section__helper.font-m-med Начните зарабатывать, 
          br.d-block
          |занимаясь любимым делом

        .main-section__feedback
          .feedback
            form(data-feedback-form).feedback__form
              .feedback__description Получите подробный план открытия 
              .feedback__list
                .feedback__item
                  .input
                    input(type="text" name="name" autocomplete="off" placeholder="Имя:").input__field
                .feedback__item
                  .input
                    input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон:").input__field
                .feedback__item
                  button.btn(type="submit")
                    span Получить
              input(type="text" name="honeyfield" class="honeypot" style="display:none")

        .main-section__info.font-f-med.swiper-main
          .main-section__info-list.swiper-wrapper
            .main-section__info-item.swiper-slide
              .main-section__info-container.main-section__info-container--1
                .main-section__info-icon
                  img(src="images/main-icon-1.svg" loading="lazy" alt="icon" width="36" height="36").d-block
                .main-section__info-description Быстрый 
                  br
                  |старт
            .main-section__info-item.swiper-slide
              .main-section__info-container.main-section__info-container--2
                .main-section__info-icon
                  img(src="images/main-icon-2.svg" loading="lazy" alt="icon" width="36" height="36").d-block
                .main-section__info-description Поддержка 
                  br
                  |партнеров
            .main-section__info-item.swiper-slide
              .main-section__info-container.main-section__info-container--3
                .main-section__info-icon
                  img(src="images/main-icon-3.svg" loading="lazy" alt="icon" width="36" height="36").d-block
                .main-section__info-description Минимальные 
                  br
                  |вложения
        .main-section__info-bullets.main-pagination.swiper-bullets
