section.support-section
  .wrapper
    .support-section__inner
      .support-section__content
        .support-section__container
          h2.support-section__title.font-s-30 Откройте прибыльный 
            br
            |бизнес за 
            span.color-pink-1 26 дней
          .support-section__image
            img(src="images/support-image.jpg" loading="lazy" alt="шьфпу" width="465" height="359").d-block
          .support-section__description.font-s-20 Работаем строго по договору, в котором описаны 
            br
            |наши обязанности и все условия сотрудничества

        .support-section__info.font-s-20
          .support-section__info-title Команда ТЕОРИИ ОТРЫВА поддержит 
            br
            |вас на всех этапах
          .support-section__info-list
            .support-section__info-item
              .support-section__info-icon
              .support-section__info-description Предоставим обучение франчайзи в онлайн формате
            .support-section__info-item
              .support-section__info-icon
              .support-section__info-description Пришлём команду для запуска бизнеса (услуга может быть платной)
            .support-section__info-item
              .support-section__info-icon
              .support-section__info-description Проведем онлайн обучение персонала по всем направлениям вашего бизнеса
            .support-section__info-item
              .support-section__info-icon
              .support-section__info-description Обучим проведению развлекательных программ
            .support-section__info-item
              .support-section__info-icon
              .support-section__info-description Предоставим еженедельные консультации в формате Zoom-звонков
            .support-section__info-item
              .support-section__info-icon.support-section__info-icon--last
              .support-section__info-description Дадим доступ к общему отделу продаж и маркетинга от головного офиса
          .support-section__info-button
            button.btn(data-remodal-target="modal-form-support")
              span Скачать пример договора
