.feedback
  &__description
    margin: 0 0 12px 0
    +above($breakpoints.md)
      margin: 0 0 14px 0
    +above($breakpoints.xxl)
      margin: 0 0 20px 0

  &__list
    display: flex
    align-items: center
    flex-wrap: wrap
    flex-direction: column
    justify-content: center
    gap: 7px
    +above($breakpoints.sm)
      flex-direction: row
      align-items: flex-start
    +above($breakpoints.md)
      gap: 12px
    +above($breakpoints.xxl)
      gap: 20px
  &__item
    width 100%

