.footer
  position: relative
  z-index 3
  background-color: $color-green-1
  color: $color-white-2
  line-height: 120%
  font-size: 12px
  +above($breakpoints.md)
    font-size: 14px
  +above($breakpoints.xxl)
    font-size: 16px

  &__row
    margin: 0 0 0 auto
    padding: 30px 0
    text-align: center
    +above($breakpoints.sm)
      text-align: left
      padding: 18px 0
      display: flex
      justify-content: space-between
      align-items: center
    +above($breakpoints.xxl)
      padding: 24px 0

  &__col
    margin: 0 0 18px 0
    +above($breakpoints.sm)
      margin: 0
    &:last-child
      margin: 0
    &:first-child
      +above($breakpoints.sm)
        display: flex
        align-items: center

  &__container
    display: flex
    align-items: center
    gap: 8px
    flex-direction: column
    +above($breakpoints.sm)
      gap: 4px
      align-items: flex-start
    +above($breakpoints.md)
      align-items: flex-end
      flex-direction: row
      gap: 18px
    +above($breakpoints.xxl)
      gap: 64px
  &__description
    +above($breakpoints.sm)
      display: none
    +above($breakpoints.md)
      display: block
  &__privacy
    display block
    margin: 12px 0 0 0
    text-decoration: underline
    +above($breakpoints.sm)
      margin: 2px 0 0 0
    +above($breakpoints.xxl)
      margin: 4px 0 0 0
    br
      +above($breakpoints.sm)
        display: none
      +above($breakpoints.md)
        display: block
  &__logo
    img
      height: auto
      width 190px
      +above($breakpoints.sm)
        width 140px
      +above($breakpoints.md)
        width 140px
      +above($breakpoints.xxl)
        width 174px

  &__connection
    display: flex
    justify-content: center
