.input
  display: flex
  align-items: center
  height: 100%
  width 100%
  position relative

  &__field
    width: 100%
    height: 48px
    line-height: normal
    font-size: 17px
    padding: 0
    display: block
    outline: none
    border: none
    background-image: radial-gradient(circle at 100% 100%, transparent 9px, #e92a84 9px, #e92a84 10px, transparent 10px), linear-gradient(to right, #e92a84, #e0f71e), radial-gradient(circle at 0% 100%, transparent 9px, #e0f71e 9px, #e0f71e 10px, transparent 10px), linear-gradient(to bottom, #e0f71e, #e0f71e), radial-gradient(circle at 0% 0%, transparent 9px, #e0f71e 9px, #e0f71e 10px, transparent 10px), linear-gradient(to left, #e0f71e, #e92a84), radial-gradient(circle at 100% 0%, transparent 9px, #e92a84 9px, #e92a84 10px, transparent 10px), linear-gradient(to top, #e92a84, #e92a84);
    background-size: 10px 10px, calc(100% - 20px) 1px, 10px 10px, 1px calc(100% - 20px);
    background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
    background-repeat: no-repeat;
    background-color: unset
    color: $color-white
    font-family: "FuturaPT-Book"
    line-height: 120%
    font-weight: 400
    padding: 0 10px 0 24px
    transition: 0.3s
    +above($breakpoints.sm)
      height: 42px
      font-size: 16px
      padding: 0 10px 0 16px
    +above($breakpoints.md)
      font-size: 17px
      height: 50px
      padding: 0 10px 0 18px
    +above($breakpoints.xxl)
      height: 60px
      font-size: 18px
      padding: 0 10px 0 20px
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active
      -webkit-box-shadow: 0 0 0px 1000px white inset
      transition: all 5000s ease-in-out 0s
    &::placeholder
      font-family: "FuturaPT-Book"
      font-weight: 400
      color: $color-white
    &::-ms-input-placeholder
      font-family: "FuturaPT-Book"
      font-weight: 400
      color: $color-white
    &.error
      color: $color-error
      &::placeholder
        color: $color-error
      &::-ms-input-placeholder
        color: $color-error
      animation: shake 0.6s;
      @keyframes shake {
        10%, 90% {
          transform: translate3d(-1px, 0, 0)
        }
        
        20%, 80% {
          transform: translate3d(2px, 0, 0)
        }

        30%, 50%, 70% {
          transform: translate3d(-4px, 0, 0)
        }

        40%, 60% {
          transform: translate3d(4px, 0, 0)
        }
      }
    &:focus
      border: 1px solid $color-grey-1
    &--textarea
      resize: none
      padding-top: 12px
      +above($breakpoints.sm)
        padding-top: 11px
      +above($breakpoints.md)
        padding-top: 13px
      +above($breakpoints.xxl)
        padding-top: 15px
