.swiper-bullets
  position relative !important
  width 100% !important
  display: flex
  justify-content: center
  bottom: 0 !important
  margin: 0 0 20px 0
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-bullet
    width 11px !important
    height: 11px !important
    background: none
    border: 1px solid $color-white
    opacity 1
  .swiper-pagination-bullet-active-main
    background: $color-white
    border: none