.swiper-progress
  position relative !important
  height: 6px !important
  overflow: hidden
  background: rgb(136, 136, 136)
  margin: 18px 0 0 0
  border-radius: 10px !important
  +above($breakpoints.sm)
    display: none
  .swiper-pagination-progressbar-fill
    border-radius: 10px !important
    background: linear-gradient(90deg, #e92a84 0%, #e0f71e 100%);
