$base-font-family = "Montserrat-Regular"

$breakpoints = {
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1300px,
  xxl: 1400px,
  xxxl: 1500px,
  xxxxxxl: 1921px,
}

$color-orange-1 = #EB8B31
$color-green-1 = #5D734B
$color-green-2 = #bccc79

$color-error = #d94c4c
$color-success = #35b24a
$color-warning = #ffa526
$color-white = #FFFFFF
$color-white-2 = #F5F3F0
$color-black = #000000
